{% extends "base.html" %}
{% import "macros/navigation.html" as nav %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}

{% block content %}
{{ nav::header() }}

<!-- Main Content -->
<main class="container my-5">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <article>

                <div class="content">
                    {{ page.content | safe }}
                </div>
            </article>
        </div>
    </div>
</main>

{{ nav::footer() }}
{% endblock content %}
